#main-content {
    padding-top: 2%;
    /* background-color: lightgray; */
    padding: 20px;
}

.dishes {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
#dishes {
    display: flex;
    flex-wrap: wrap;
}

.dish {
    width: 300px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #009EC3;
    border-radius: 5px;
    color: #009EC3
}
.rating .dish {
    width: 80%;
}

.dish > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dish img {
    width: 100%;
}
.rating .dish img {
    max-width: 90%;
    max-height: 180px;
}

#profilePic{

}

#profilePic img {
    max-width: 100%;
    /* max-height: 200px; */
    width: 240px;
    height: 240px;
    border: 10px solid lightgray;
    border-radius: 50%;
    margin: 0 0 10px 0;
}

.bio {
    white-space: pre-line;
}
