.container.new-item {
    width: 500px;
    margin: 20px auto;
    padding: 0;
    border: 1px solid lightgray;
    border-radius: 8px;
}

.container.new-item .header {
    padding: 15px;
    background-color: #03989E;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 18pt;
    color: white;
    border-radius: 8px 8px 0 0;
}

.container.new-item h1 {
    padding-top: 10px;
    margin-left: 10px;
}
.container.new-item .content {
    padding: 15px;
}

.required, .error {
    color:red;
}
