{% extends 'shop/base.html' %}
{% load static humanize shop_extras %}

{% block css %}
<link rel="stylesheet" href="{% static 'shop/css/product.css' %}">
{% endblock css %}

{% block greeting %}{% if user.is_authenticated %} {{ user.first_name }}{% else %}{% endif %}{% endblock greeting %}

{% block favorites %}
{% if user.is_authenticated %}
<a href="{% url 'shop:favorite_products' %}" class="nav-link"><i class="fas fa-bookmark"></i>Favorites</a>
{% else %}
{% endif %}
{% endblock favorites %}

{% block profile %}
{% if user.is_authenticated %}
<a href="{% url 'accounts:user_profile' profiled_user_id=user.id %}" class="nav-link"><i
        class="fas fa-user-cog"></i>Profile</a>
{% else %}
<a href="{% url 'accounts:signup' %}" class="nav-link"><i class="fas fa-user-cog"></i>Register</a>
{% endif %}
{% endblock profile %}

{% block login %}
{% if user.is_authenticated %}
<a href="{% url 'logout' %}" class="nav-link"><i class="fas fa-sign-out-alt"></i>Logout</a>
{% else %}
<a href="{% url 'login' %}" class="nav-link"><i class="fas fa-sign-in-alt"></i>Login</a>
{% endif %}
{% endblock login %}

{% block content %}
<div class="container" data-id="{{ collection.id }}">
    {% include 'shop/breadcrumbs.html' %}

    <div class="dish-header d-flex flex-column align-items-center">

        <div class="dish-title d-inline-flex align-items-baseline">
            <h1 class="my-0">{{ collection.name }}</h1>
            {% if request.user.is_staff %}
            <p class="edit-category ml-2 my-0" title="Edit" style="color:#009EC3">
                <a href="{% url 'shop:collection_update' pk=collection.id %}">
                    <small><i class="fas fa-pen"></i> Edit</small>
                </a>
            </p>

            <p class="delete-category ml-2 my-0" title="Delete" style="color:red">
                <a href="{% url 'shop:collection_delete' pk=collection.id %}">
                    <small><i class="fas fa-times" style="color:red"></i> Delete</small>
                </a>
            </p>
            {% endif %}
        </div><!-- end .dish-title -->
    </div><!-- end .dish-header-->

    <div class="row">

        <div class="col-8">
            <div class="dish-image">
                <img src="{{ collection.profile_pic.url }}" data-id="{{ collection.id }}" alt="Collection Picture Here">
            </div><!-- end .dish-image -->

            <div class="description">Description: 
                <div>{{ collection.description|linebreaks }}</div>
            </div><!-- end .description -->
        </div><!-- end .col-8 -->
    
        <div class="col-4">
            <div id="categories" class="info-box">
                <!--Insert link tag to be able to take to similar category pages-->
                <p>About this collection:</p>
                <p>Number of Products in Collection: {{ product_count }}</p>
                <p><a href="{% url 'shop:collection_products' collection_id=collection.id %}">See all products in this collection</a></p>
            </div><!-- end #categories-->
        </div><!-- end .col-4 -->
    </div><!-- end .row -->

    <div class="row">
        <div>
            <h4 class="mt-3">Products in this Collection</h4>
            <div class="new-item-button ml-2">
                {% if request.user.is_staff %}
                    <a href="{% url 'shop:product_add' %}?collection_id=collection.id" class="btn btn-info">
                        <small><i class="fas fa-plus-circle"></i> New</small>
                    </a>
                {% endif %}
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <th>Product</th>
                <th>Categories</th>
                <th>Active?</th>
                <th>Retail Price</th>
                <th>Sale Price</th>
                <th>Rating</th>
                <th>Inventory</th>
            </thead>

            <tbody>
                {% for product in collection.products.all %}
                <tr>
                    <td class="d-flex">
                        <img src="{{ product.get_default_photo_url }}" alt="{{ product.name }}" style="width:30px;">
                        <span class="ml-1">
                            <a href="{% url 'shop:product_details' pk=product.id %}" class="mb-0">
                                {{ product.name }}
                            </a><br/>
                            <small class="text-muted">SKU: {{product.sku}}</small>
                        </span>
                    </td>
                    
                    <td class="product-category">
                        <ul class="actions">
                            {% for product_category in product.categories.all %}
                            <li>
                                <a href="{% url 'shop:category_details' pk=product_category.id %}"><small class="text-muted">{{ product_category.name }}</small></a>
                            </li>
                            {% endfor %}
                        </ul>
                    </td>

                    <td class="active">{% if product.active %}<i class="fas fa-check text-success"></i>{% else %}<i class="fas fa-times text-danger"></i>{% endif %}</td>
                    <td class="retail-price">${{ product.price|floatformat:2|intcomma }}</td>
                    <td class="sale-price">${{ product.get_sale_price|floatformat:2|intcomma }}</td>
                    <td>
                        <span data-rating="{{ product.get_average_rating|floatformat }}" data-rating-size="small"></span> 
                        <small>({{ product.ratings.count }} Rating{{ product.ratings.count|pluralize }})</small>
                    </td>
                    <td>{{ product.inventory_stock }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div><!-- end .row -->

    <div class="row">
        {% if request.user.is_staff %}
        <p style="font-style: italic;"><small>Created by {{ collection.created_by.get_full_name }} on {{ collection.created_at }}. Updated by {{ collection.updated_by.first_name }} {{ collection.updated_by.last_name }} on {{ collection.updated_at }}.</small></p>
        {% endif %}
    </div>

</div>

{% endblock %}