{% extends 'shop/generic_form.html' %}
{% load static %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'shop/css/product.css' %}">
<link rel="stylesheet" href="{% static 'shop/css/createProduct.css' %}">
{% endblock css %}

{% block form_title %}
{{ action|capfirst }} Product
{% endblock form_title %}

{% block form_field_before_errors %}
{% if field.name == 'images' %}
    {% if images %}
    <h3>Existing Images:</h3>
    <div class="dish-image existing-images">
        {% for image in images %}
            <span class="existing-image">
                <img src="{{ image.picture.url }}" data-id="{{ image.id }}" alt="Dish Picture Here">
                <a class="action-button button-delete" data-href="{% url 'shop:product_photo_delete' product_photo_id=image.id %}" title="Delete image">
                    <i class="fas fa-trash-alt"></i>
                </a>
                {% if image.is_default %}
                <a class="action-button button-make-default is-default" data-href="{% url 'shop:product_photo_make_primary' product_photo_id=image.id %}" title="Primary image">
                {% else %}
                <a class="action-button button-make-default" data-href="{% url 'shop:product_photo_make_primary' product_photo_id=image.id %}" title="Make primary image">
                {% endif %}
                    <i class="fas fa-certificate"></i>
                </a>
            </span>
        {% endfor %}
    </div><!-- end .dish-image -->
    {% endif %}
{% endif %}
{% endblock form_field_before_errors %}

{% block form_field_after_field %}
    {% if field.name == 'collection' %}
    <div class="collection-info form-text"></div>
    {% endif %}
{% endblock form_field_after_field %}


{% block additional_scripts %}
    <script>
    $('.content').on('change', '.new-item form select[name="collection"]', function(e){
        console.log('Collection dropdown changed.')
        var collection_id = $(this).val();

        if (!collection_id){
            $('div.collection-info').html('');
            return false;
        } 
        
        getCollectionInfo(collection_id).done(function(data){
            console.log('got collection info!');
            var htmlString = '<div>';
            htmlString += '<img src="' + data.profile_pic_url + '" alt="' + data.name + '" style="width:150px;">'
            htmlString += '<small class="text-muted ml-2 mt-0 mb-3">';
            htmlString += 'Collection: ' + data.name;
            htmlString += '</small></div>'

            $('div.collection-info').html(htmlString);
        });
    });
    </script>
{% endblock additional_scripts %}