{% extends 'shop/base.html' %}
{% load static humanize %}

{% block css %}
<link rel="stylesheet" href="{% static 'shop/css/product.css' %}">
{% endblock css %}

{% block greeting %}{% if user.is_authenticated %} {{ user.first_name }}{% else %}{% endif %}{% endblock greeting %}

{% block favorites %}
{% if user.is_authenticated %}
<a href="{% url 'shop:favorite_products' %}" class="nav-link"><i class="fas fa-bookmark"></i>Favorites</a>
{% else %}
{% endif %}
{% endblock favorites %}

{% block profile %}
{% if user.is_authenticated %}
<a href="{% url 'accounts:user_profile' profiled_user_id=user.id %}" class="nav-link"><i
        class="fas fa-user-cog"></i>Profile</a>
{% else %}
<a href="{% url 'accounts:signup' %}" class="nav-link"><i class="fas fa-user-cog"></i>Register</a>
{% endif %}
{% endblock profile %}

{% block login %}
{% if user.is_authenticated %}
<a href="{% url 'logout' %}" class="nav-link"><i class="fas fa-sign-out-alt"></i>Logout</a>
{% else %}
<a href="{% url 'login' %}" class="nav-link"><i class="fas fa-sign-in-alt"></i>Login</a>
{% endif %}
{% endblock login %}

{% block content %}
<div class="container" data-id="{{ product.id }}">
    {% include 'shop/breadcrumbs.html' %}

    <div class="row">

        <div class="col-1 thumbnails d-flex flex-column justify-content-start align-items-start">
            {% for photo in product.product_photos.all %}
            <div class="thumbnail{% if photo.is_default %} selected{% endif %}">
                <img src="{{ photo.picture.url }}" data-id="{{ photo.id }}" alt="{{ product.name }} image">
            </div>
            {% endfor %}
        </div>

        <div class="col-6 main-image">
            <img src="{{ product.get_default_photo_url }}" alt="{{ product.name }} image">
        </div>

        <div class="col-5 detail-info  mt-0 mb-2">
            <div class="title d-flex flex-column justify-content-start">
                <h2 class="my-0">{{ product.name }}</h2>
                {% if request.user.is_staff %}
                <ul class="actions d-flex justify-content-start align-items-center">
                    <li class="edit-category ml-2 my-0" title="Edit" style="color:#009EC3">
                        <a href="{% url 'shop:product_update' pk=product.id %}">
                            <small>Edit</small></a>
                    </li>
                    <li class="create-sale ml-2 my-0" title="Create Sale" style="color:#009EC3">
                        <a href="{% url 'shop:product_sale' pk=product.id %}"><small>Sale</small></a>
                    </li>
                    <li class="delete-category ml-2 my-0" title="Delete" style="color:red">
                        <a href="{% url 'shop:product_delete' pk=product.id %}"><small>Delete</small></a>
                    </li>
                </ul>
                
                <!--
                <div class="actions d-flex justify-content-start align-items-center">
                    <p class="edit-category ml-2 my-0" title="Edit" style="color:#009EC3">
                        <a href="{% url 'shop:product_update' pk=product.id %}">
                            <small><i class="fas fa-pen"></i> Edit</small>
                        </a>
                    </p>
        
                    <p class="create-sale ml-2 my-0" title="Create Sale" style="color:#009EC3">
                        <a href="{% url 'shop:product_sale' pk=product.id %}">
                            <small><i class="fas fa-plus"></i> Sale</small>
                        </a>
                    </p>
        
                    <p class="delete-category ml-2 my-0" title="Delete" style="color:red">
                        <a href="{% url 'shop:product_delete' pk=product.id %}">
                            <small><i class="fas fa-times" style="color:red"></i> Delete</small>
                        </a>
                    </p>
                </div>
                 -->
                {% endif %}
            </div>

            <div id="buy-box">
                <h3>
                    {% if product.is_on_sale %}
                        <span class="strike-through">${{ product.price|floatformat:2|intcomma }}</span>
                        ${{ product.get_sale_price|floatformat:2|intcomma }}
                        <span class="indicator-sale" style="font-size:12pt;"> {{ product.get_promotion.sale.name }}</span>
                    {% else %}
                        ${{ product.price|floatformat:2|intcomma }}
                    {% endif %}
                </h3>
                {% if product.inventory_stock %}
                    <form method="POST" action="{% url 'cart:add_to_cart' product_id=product.id %}">
                        {% csrf_token %}
                        <input type="number" name="qty" min="1" max="{{ product.inventory_stock }}" value="1">
                        <button type="submit" class="btn btn-info">Add to Cart</button>
                    </form>
                {% else %}
                    <span style="color:red;">SOLD OUT</span>
                {% endif %}
                
                {% with request.user.profile.favorites.all as favorite_products %}
                    <div class="favorite">
                    {% if user.is_authenticated %}
                        {% if product in favorite_products %}
                            {% url 'shop:favorite_products' as favorites_page %}
                            {% if request.path == favorites_page %}
                                <a href="{% url 'shop:unfavorite' product_id=product.id %}" data-ajax=false title="Un-favorite">
                                    <span class="favorited"><i class="fas fa-heart"></i></span>
                                </a>
                            {% else %}
                                <a href="{% url 'shop:ajax_unfavorite' product_id=product.id %}" data-ajax=true title="Un-favorite">
                                    <span class="favorited"><i class="fas fa-heart"></i></span>
                                </a>
                            {% endif %}
                        {% else %}
                        <a href="{% url 'shop:ajax_favorite' product_id=product.id %}" data-ajax=true title="Favorite">
                            <span class="unfavorited"><i class="fas fa-heart"></i></span>
                        </a>
                        {% endif %}

                    {% else %}
                        {# The user is not authenticated, so we can't perform the favorite via ajax view. #}
                        {# Instead when the unauthenticated user clicks on the favorite button below, #}
                        {# they will first be redirected to the login page, with the "next" querystring set to #}
                        {# the href below. The href below also has a next link that directs the favorite view #}
                        {# where to redirect the user after favoriting. #}

                        {% url 'shop:favorite' product_id=product.id as the_url %}
                        <a href="{{ the_url }}?next={{ request.path }}" data-ajax=false title="Favorite">
                            <span class="unfavorited"><i class="fas fa-heart"></i></span>
                        </a>
                    {% endif %}
                    </div><!-- .favorite -->
                {% endwith %}

            </div><!-- end #buy-box -->

            <div id="categories" class="product-info-box">
                <!--Insert link tag to be able to take to similar category pages-->
                <p>About this item:</p>
                {% if product.collection %}
                <p class="collection">Collection: <a href="{% url 'shop:collection_details' pk=product.collection.id %}">{{ product.collection.name }}</a></p>
                {% endif %}
                <p class="categories">
                    <ul class="categories" style="display:inline;">Categories: 
                        {% for category in product.categories.all %}
                        <li class="category">
                            <a href="{% url 'shop:category_products' category_id=category.id %}">{{ category.name }}</a>
                        </li>
                        {% endfor%}
                    </ul>    
                </p>
                <p>SKU: <small class="text-muted">{{ product.sku }}</small></p>
                <p>{% if product.inventory_stock %}In Stock.{% else %}<span style="color:red;">SOLD OUT</span>{% endif %}</p>
                <p class="my-2">
                    <span class="rating-number" data-rating="{{average_rating|stringformat:'.2F'}}" data-rating-size="medium"></span> 
                    <a href="#ratings">Reviews</a>
                </p>
            </div><!-- end #categories -->

            <div class="description">Description: 
                <div>{{ product.description|linebreaks }}</div>
            </div><!-- end .description -->
        </div>
    </div>   

    <div class="row">
        {% if request.user.is_staff %}
        <p style="font-style: italic;"><small>Created by {{ product.created_by.get_full_name }} {{ product.created_at|timesince }} ago. Updated by {{ product.updated_by.get_full_name }} {{ product.updated_at|timesince }} ago.</small></p>
        {% endif %}
    </div>

    {% if recently_viewed_items %}
    <div class="recently-viewed" style="margin-top: 40px;">
        <h3 class="my-0">Take another look:</h3>
        <small class="text-muted my-0">Your recently viewed items</small>
        {% include 'shop/products.html' with object_list=recently_viewed_items %}
        <!-- <div class="d-flex justify-content-start align-items-center">
            {% for item in recently_viewed_items %}
            <img src="{{ item.get_default_photo_url }}" class="mx-2" style="width:80px;" data-id="{{ item.id }}" alt="{{ item.name }} image">
            {% endfor %}
        </div> -->
    </div>
    {% endif %}

    <div class="row my-4">
        <div class="ratings-info col-7">
            <div class="d-inline-flex justify-content-start align-items-center">
                <h4 class="my-0" id="ratings">Average Rating: <span class="rating-number" data-rating="{{average_rating|stringformat:'.2F'}}" data-rating-size="medium"></span></h4>
                
                {% if user.is_authenticated %}
                <div class="newDish btn btn-info ml-3 mt-3"><small><i class="fas fa-plus-circle"></i> New Rating</small></div>
                {% else %}
                <a href="{% url 'login' %}?next={{ request.path }}" class="btn btn-info ml-3 mt-3">Login to rate</a>
                {% endif %}
            </div>

            <div id="newRating" style="display: none;">
                {% if user_has_rated_item %}
                    <p>You've already rated this item: <span class="rating-number" data-rating="{{ user_rating_this_item.number_of_stars }}" data-rating-size="medium"></span></p>
                {% else %}
                    {% include 'shop/ratingForm.html' %}
                {% endif %}
            </div><!-- end #newRating -->

            <div class="ratings my-3">
                {% for rating in all_ratings %}
                <div class="rating d-flex mb-3" id="rating-{{rating.id}}">
                    <div class="d-flex flex-column justify-content-start" style="width:20%;">
                        <img src="{{ rating.user.profile.profile_pic.url }}" style="width:40px;" alt="{{ rating.user.first_name }}">
                        <small class="text-muted">
                            <a href="{% url 'accounts:user_profile' profiled_user_id=rating.user.id %}">
                                {{ rating.user.first_name }} {{ rating.user.last_name|slice:":1" }}
                            </a>
                        </small>
                        <small class="text-muted">{{ rating.user.profile.location }}</small>
                        <small class="my-0 text-muted">{{ rating.created_at|date:"M. j, Y" }}</small>
                    </div>
                    <div class="my-0 ml-3">
                        <p class="my-0">
                            {% include 'shop/stars.html' with size="small" %}
                        </p>
                        <p class="mt-0 mb-3">{{ rating.review }}</p>
                        <div class="rating-votes my-0">
                            <span class="text-muted">Helpful? </span>
                            <a href="/rating/{{ rating.id }}/vote/1">
                                <i class="far fa-thumbs-up"></i>
                            </a> 
                            {{ rating.upvotes}} 

                            <a href="/rating/{{ rating.id }}/vote/-1"><!-- url 'shop:rating_vote' rating_id=rating.id score=-1 -->
                                <i class="far fa-thumbs-down"></i>
                            </a> 
                            {{ rating.downvotes}}                         
                        </div>
                    </div>
                </div><!-- end .rating -->
                <div class="" style="padding:0 30px;">
                    <p style="border-bottom:1px solid lightgrey;"></p>
                </div>
                {% endfor %}
            </div><!-- end .ratings -->
        </div><!-- end .ratings-info -->
        <div class="comments col-5">
            <div class="d-inline-flex justify-content-start align-items-center">
                <h4 class="my-0">Questions</h4>
                {% if user.is_authenticated %}
                <div class="btn btn-info ml-3 newComment"><small><i class="fas fa-plus-circle"></i> New Question</small></div>
                {% else %}
                <a href="{% url 'login' %}?next={{ request.path }}" class="btn btn-info ml-3"><small>Login to post a question</small></a>
                {% endif %}
            </div>
            <div id="newComment" style="display: none;">
                {% include 'shop/commentForm.html' with form=question_form %}
            </div><!-- end #newRating -->


            <div id="usersComments" class="my-4">
            {% for question in product.questions.all %}                
                {% include 'shop/question.html' %}
            {% endfor %}
            </div><!-- end #usersComments -->
        </div><!-- end .Comments -->

    </div> <!-- end row comments & ratings -->
</div>

{% endblock %}