{% extends 'shop/generic_form.html' %}
{% load static humanize %}

{% block form_title %}
    {{ action|capfirst }} Sale
{% endblock form_title %}

{% block form_field_after_header %}
    <div class="product-info d-flex justify-content-center align-items-center my-2"></div>
{% endblock form_field_after_header %}

{% block form_field_after_field %}
    {% if field.name == 'sale' %}
    <div class="sale-info form-text"></div>
    {% endif %}
{% endblock form_field_after_field %}

{% block additional_scripts %}
<script type="text/javascript">
    // console.log('Sale 1:');
    // console.log(getCookie('csrftoken'));
    $('.content').on('change', '.new-item form select[name="product"]', function(e){
        console.log('Product dropdown changed.')
        var product_id = $(this).val();

        if (!product_id){
            $('div.product-info').html('');
            return false;
        } 
        
        getProductInfo(product_id).done(function(data){
            console.log('got product info!');
            var htmlString = '<div>';
            htmlString += '<img src="' + data.product_photo_url + '" alt="' + data.name + '" style="width:40px;">'
            htmlString += '<small class="text-muted ml-2 mt-0 mb-3">';
            htmlString += 'Retail Price: $' + data.retail_price;
            htmlString += '   &bull;   ';
            htmlString += 'SKU: ' + data.sku;
            htmlString += '   &bull;   ';
            htmlString += 'Inventory: ' + data.inventory_stock;
            htmlString += '</small></div>'

            $('div.product-info').html(htmlString)
        });
    });

    $('.content').on('change', '.new-item form select[name="sale"]', function(e){
        console.log('Sale dropdown changed.')
        var sale_id = $(this).val();

        if (!sale_id){
            $('div.sale-info').html('');
            return false;
        } 
        
        getSaleInfo(sale_id).done(function(data){
            console.log('got sale info!');
            var htmlString = '<div>';
            htmlString += '<small class="text-muted ml-2 mt-0 mb-3">';
            htmlString += data.description;
            htmlString += '   &bull;   ';
            htmlString += 'Start: ' + data.start_date;
            htmlString += '   &bull;   ';
            htmlString += 'End: ' + data.end_date;
            if (data.has_ended) {
                htmlString += '   &bull;   ';
                htmlString += '<span style="color:red">Sale Ended</span>';
            }
            htmlString += '</small></div>'

            $('div.sale-info').html(htmlString)
        });
    });

    (function () {
        console.log('running iife');

        prod_info = $('.new-item form select[name="product"]').val();
        if (prod_info) {
            console.log('Product ' + prod_info);
            $('.content').find('.new-item form select[name="product"]').trigger('change');
        }

        sale_info = $('.new-item form select[name="sale"]').val();
        if (sale_info) {
            console.log('Sale ' + sale_info);
            $('.content').find('.new-item form select[name="sale"]').trigger('change');
        }
    })();

</script>
{% endblock additional_scripts %}