{% extends 'shop/base.html' %}
{% load static humanize %}

{% block css %}
<link rel="stylesheet" href="{% static 'shop/css/product.css' %}">
{% endblock css %}

{% block greeting %}{% if user.is_authenticated %} {{ user.first_name }}{% else %}{% endif %}{% endblock greeting %}

{% block favorites %}
{% if user.is_authenticated %}
<a href="{% url 'shop:favorite_products' %}" class="nav-link"><i class="fas fa-bookmark"></i>Favorites</a>
{% else %}
{% endif %}
{% endblock favorites %}

{% block profile %}
{% if user.is_authenticated %}
<a href="{% url 'accounts:user_profile' profiled_user_id=user.id %}" class="nav-link"><i
        class="fas fa-user-cog"></i>Profile</a>
{% else %}
<a href="{% url 'accounts:signup' %}" class="nav-link"><i class="fas fa-user-cog"></i>Register</a>
{% endif %}
{% endblock profile %}

{% block login %}
{% if user.is_authenticated %}
<a href="{% url 'logout' %}" class="nav-link"><i class="fas fa-sign-out-alt"></i>Logout</a>
{% else %}
<a href="{% url 'login' %}" class="nav-link"><i class="fas fa-sign-in-alt"></i>Login</a>
{% endif %}
{% endblock login %}

{% block content %}
{% include 'shop/breadcrumbs.html' %}

<div class="container" data-id="{{ category.id }}">
    <div class="dish-header d-flex flex-column align-items-center">

        <div class="dish-title d-inline-flex align-items-baseline">
            <h1 class="my-0">Promotion</h1>
            {% if request.user.is_staff %}
            <p class="edit-category ml-2 my-0" title="Edit" style="color:#009EC3">
                <a href="{% url 'shop:promotion_update' pk=promotion.id %}">
                    <small><i class="fas fa-pen"></i> Edit</small>
                </a>
            </p>

            <p class="delete-category ml-2 my-0" title="Delete" style="color:red">
                <a href="{% url 'shop:promotion_delete' pk=promotion.id %}">
                    <small><i class="fas fa-times" style="color:red"></i> Delete</small>
                </a>
            </p>
            {% endif %}
        </div><!-- end .dish-title -->
    </div><!-- end .dish-header-->

    <div class="row">

        <div class="col-8">
            <div class="description">Product: <a href="{% url 'shop:product_details' pk=promotion.product.id %}">{{ promotion.product.name }}</a></div><!-- end .description -->
            <div class="retail-price">Retail Price: ${{ promotion.product.price|floatformat:2|intcomma }}</div><!-- end .retail-price -->
            <div class="sale-price">Sale Price: ${{ promotion.sale_price|floatformat:2|intcomma }}</div><!-- end .sale-price -->
            <div class="sale">Sale: <a href="{% url 'shop:sale_details' pk=promotion.sale.id %}">{{ promotion.sale.name }}</a></div><!-- end .sale -->
            <div class="start-date">Start Date: {{ promotion.sale.start_date }}</div><!-- end .start-date -->
            <div class="end-date">End Date: {{ promotion.sale.end_date }}</div><!-- end .end-date -->
            {% if promotion.sale.has_ended %}<div style="font-weight: bold;font-style: italic;color:red;">This promotion has ended</div>{% endif %}
        </div><!-- end .col-8 -->

        <div class="col-4">
            <div id="categories">
                <!--Insert link tag to be able to take to similar category pages-->
                <img src="{{ promotion.product.get_default_photo_url }}" alt="{{ promotion.product.name }}" style="width:100%">
            </div><!-- end #categories-->
        </div><!-- end .col-4 -->
    </div><!-- end .row -->

    <div class="row">
        {% if request.user.is_staff %}
        <p style="font-style: italic;"><small>Created by {{ promotion.created_by.get_full_name }} on {{ promotion.created_at }} Updated by {{ promotion.updated_by.get_full_name }} on {{ promotion.updated_at }}.</small></p>
        {% endif %}
    </div>

</div>

{% endblock %}