<p>
    <span style="font-weight: bold;">Question </span>
    by 
    <a href="{% url 'accounts:user_profile' profiled_user_id=question.asker.id %}">
        {{ question.asker.first_name }} {{ question.asker.last_name }}
    </a>:
</p>
<p>{{ question.content }}</p>
<p>{{ question.date_asked }}</p>

{% for answer in question.answers %}
<p><span style="font-weight: bold;">Answer </span>by 
    <a href="{% url 'accounts:user_profile' profiled_user_id=question.answerer.id %}">
    {{ answer.answerer.first_name }} {{ answer.answerer.last_name }}
    </a>: 
</p>
<p>{{ answer }}</p>
{% endif %}