{% load humanize static %}
<div class="question my-4" id="question-{{ question.id }}">
    <div class="d-flex align-items-start my-2">
        <img src="{{ question.asker.profile.profile_pic.url }}" style="width:40px;" alt="{{ question.asker.get_full_name }}">
        
        <div class="question-detail ml-3">
            <small class="text-muted my-0">
                <a href="{% url 'accounts:user_profile' profiled_user_id=question.asker.id %}" style="line-height:0">
                    {{ question.asker.get_full_name }}
                </a>  &bull;  
                <span style="line-height:0">{{ question.date_asked|naturalday }}</span>
            </small>
            <p class="my-0">{{ question.content }}</p>
            <small class="question-actions text-muted my-0">
                <span>{% if question.answers.count %}{{ question.answers.count }} Answer{{ question.answers.count|pluralize }}{% else %}Unanswered{% endif %}</span>
                <span>  &bull;  </span>
                <!-- <a href="{% url 'shop:follow_question' question_id=question.id %}">Follow</a> -->
                {% if user.is_authenticated %}
                    <form class="follow-form" 
                        action="/question/{{ question.id }}/{% if user in question.followers.all %}unfollow{% else %}follow{% endif %}"
                        method="POST", style="display:inline;" role="form" novalidate>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link" style="font-size: 8pt;padding: 0;">{% if user in question.followers.all %}Un-follow{% else %}Follow{% endif %}</button>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}?next={{ request.path }}">Login to Follow</a>
                {% endif %}
            </small>
        </div><!-- end .question-detail -->
    </div>

    <div class="new-answer">
        {% if user.is_authenticated %}
            <a href="" class="answer-button btn btn-info btn-small">Answer</a>
            {% include 'shop/answerForm.html' with form=answer_form %}
        {% else %}
            <a href="{% url 'login' %}?next={{ request.path }}" class="btn btn-info ml-3"><small>Login to post an answer</small></a>
        {% endif %}

    </div><!-- end #newRating -->

    <div class="answers" style="margin-left:50px;">
        {% for answer in question.answers.all %}
        <div class="answer d-flex align-items-start my-2">
            <img src="{{ answer.answerer.profile.profile_pic.url }}" style="width:40px;" alt="{{ answer.answerer.get_full_name }}">
            
            <div class="answer-detail ml-3">
                <small class="text-muted my-0">
                    <a href="{% url 'accounts:user_profile' profiled_user_id=answer.answerer.id %}" style="line-height:0">
                        {{ answer.answerer.get_full_name }}
                    </a>  &bull;  
                    <span style="line-height:0">answered {{ answer.date_answered|naturalday }}</span>
                </small>
                <p class="my-0">{{ answer.content }}</p>
            </div><!-- end .answer-detail -->
        </div><!-- end .answer -->
        {% endfor %}
    </div><!-- end .answers -->

</div><!-- end .question -->
