{% extends 'shop/base.html' %}
{% load static humanize %}

{% block css %}
<link rel="stylesheet" href="{% static 'shop/css/product.css' %}">
{% endblock css %}

{% block greeting %}{% if user.is_authenticated %} {{ user.first_name }}{% else %}{% endif %}{% endblock greeting %}

{% block favorites %}
{% if user.is_authenticated %}
<a href="{% url 'shop:favorite_products' %}" class="nav-link"><i class="fas fa-bookmark"></i>Favorites</a>
{% else %}
{% endif %}
{% endblock favorites %}

{% block profile %}
{% if user.is_authenticated %}
<a href="{% url 'accounts:user_profile' profiled_user_id=user.id %}" class="nav-link"><i
        class="fas fa-user-cog"></i>Profile</a>
{% else %}
<a href="{% url 'accounts:signup' %}" class="nav-link"><i class="fas fa-user-cog"></i>Register</a>
{% endif %}
{% endblock profile %}

{% block login %}
{% if user.is_authenticated %}
<a href="{% url 'logout' %}" class="nav-link"><i class="fas fa-sign-out-alt"></i>Logout</a>
{% else %}
<a href="{% url 'login' %}" class="nav-link"><i class="fas fa-sign-in-alt"></i>Login</a>
{% endif %}
{% endblock login %}

{% block content %}
<div class="container" data-id="{{ category.id }}">
    <div class="dish-header d-flex flex-column align-items-center">

        <div class="dish-title d-inline-flex align-items-baseline">
            <h1 class="my-0">{{ sale.name }}</h1>
            {% if request.user.is_staff %}
            <p class="edit-category ml-2 my-0" title="Edit" style="color:#009EC3">
                <a href="{% url 'shop:sale_update' pk=sale.id %}">
                    <small><i class="fas fa-pen"></i> Edit</small>
                </a>
            </p>

            <p class="delete-category ml-2 my-0" title="Delete" style="color:red">
                <a href="{% url 'shop:sale_delete' pk=sale.id %}">
                    <small><i class="fas fa-times" style="color:red"></i> Delete</small>
                </a>
            </p>
            {% endif %}
        </div><!-- end .dish-title -->
    </div><!-- end .dish-header-->

    <div class="row">

        <div class="col-8">
            <div class="dish-image">
                <img src="{{ sale.profile_pic.url }}" data-id="{{ sale.id }}" alt="Sale Picture Here">
            </div><!-- end .dish-image -->

            <div class="description">Description: 
                <div>{{ sale.description|linebreaks }}</div>
            </div><!-- end .description -->

            <div class="terms">Terms: 
                <div>{{ sale.terms|linebreaks }}</div>
            </div><!-- end .terms -->
        </div><!-- end .col-8 -->

        <div class="col-4">
            <div id="categories">
                <!--Insert link tag to be able to take to similar category pages-->
                <p>About this sale:</p>
                <div class="promo-code">Promo Code: {{ sale.promo_code }}</div><!-- end .promo-code -->
                <div class="start-date">Start Date: {{ sale.start_date }}</div><!-- end .start-date -->
                <div class="end-date">End Date: {{ sale.end_date }}</div><!-- end .end-date -->
                {% if sale.has_ended %}<div style="font-weight: bold;font-style: italic;color:red;">This sale has ended</div>{% endif %}
            </div><!-- end #categories-->
        </div><!-- end .col-4 -->
    </div><!-- end .row -->

    <div class="row">
        <table class="table">
            <thead>
                <th>Promotion</th>
                <th>Retail Price</th>
                <th>Sale Price</th>
            </thead>

            <tbody>
                {% for promotion in sale.promotions.all %}
                <tr>
                    <td>
                        <img src="{{ promotion.product.get_default_photo_url }}" alt="{{ promotion.product.name }}" style="width:30px;">
                        <a href="{% url 'shop:promotion_details' pk=promotion.id %}">
                            {{ promotion.product.name }}
                        </a>
                    </td>
                    <td class="retail-price">${{ promotion.product.price|floatformat:2|intcomma }}</td>
                    <td class="sale-price">${{ promotion.sale_price|floatformat:2|intcomma }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div><!-- end .row -->

    <div class="row">
        {% if request.user.is_staff %}
        <p style="font-style: italic;"><small>Created by {{ sale.created_by.get_full_name }} on {{ sale.created_at }} Updated by {{ sale.updated_by.get_full_name }} on {{ sale.updated_at }}</small></p>
        {% endif %}
    </div>

</div>

{% endblock %}